body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #007acc;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: justify;
    padding: 2em;
    margin: 1em 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
}
.profile-photo {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Maintain the aspect ratio */
    border-radius: 50%; /* Makes the photo circular */
    display: block; /* Ensures the photo behaves like a block element */
    margin: 0 auto; /* Centers the photo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}
